/* These rules apply screen sizes bigger than a phone*/

body { 
	margin:0;
	height: 100%;
	font-family: Avenir Next, sans-serif;
	color: white;
	background-color:#2A3033;
	overflow-x: hidden; 
	/* #252B30  2A3033*/
	transition-timing-function: ease-in-out;
}

.bg {


	position: fixed;
    /* The image used */
    opacity: .6;

    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}


header{
	position: fixed;
	top: -2rem;
	width: 100%;
	/*height: 10em;*/
	background: transparent;
	padding-left: 0;
	opacity: 1;

}

h1 {
	top:25%;
	font-weight: normal;
	font-size: 400%;
	padding-left: 10%;
	/*text-shadow: .5rem .75rem .7rem #232323;*/
}

h2 {
	float:left;
	display: inline-block;
	position: relative;
	font-weight: normal;
	color:black;
	font-size: 20%;
}

h3 {
	/*float:left;*/
	position:absolute;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, -120%);
	font-weight: normal;
	color:black;
	font-size: 3vw;
	opacity: 1 ;
	z-index: 2;
	/*text-shadow:  .1rem .6rem 2rem #white;*/


}
h4 {
	float:left;
	display: inline-block;
	position: relative;
	font-weight: normal;
	color: #70C6F9;
	font-size: 100%;
}
#headeropacity{
	opacity: 1;
}


.abutton{
	position: relative;
	margin: auto;
	display:block;
	float:none;
	top:0%;
	left:0%;
	width: 100%;
	height: 100%;
	background-color:transparent;
	opacity: 1;
	z-index: 1;
	overflow: visible;
	
	-webkit-transition: .7s;

}


/*.portsr:hover .simple{
	transition: 1s;
	transform: scale(1.025);

}*/
/*.background{
	background: green;
	width: 100%;
	height: 100%;
}*/

/*.bi{
	height:100%;
	width:100%;
	z-index: -1;
	background-color: green;
}*/

.navbar{
	position: absolute;
	margin:auto;
	width: 100%;
	top:12rem;
	height: 2rem;
	background: transparent;
	/*padding-left: 10vw;
	padding-right: 10vw;*/
	overflow-right: hidden; 
}

#nb2{
	position: relative;
	top:0rem;
	margin:auto;
	width: 80%;
	height: 100%;
	background: transparent;
	padding-left: 0;
	padding-right: 0;

}

.dropdown{
	position: inherit;
	display: inline-block;
	float:left;
	height: 140%;
	width:8rem;
	margin-left: 0%;
	margin-right: 0%;
	background-color: transparent;
	opacity: 1;
	/*padding-right:5%;
    padding-left: 5%;*/

}

#ab{
	margin-right:0;
}
#in{
	margin-left:0;
}


.txt{
	display: block;
	position: fixed;
	float: left;
	height: 100%;
	width: 100%;
	/*margin:10%;*/
	background-color: transparent;
	font-size: 120%;
    text-align: left;    
    font-weight: normal;
    color: #70C6F9;
    opacity: 0.5;
    overflow: hidden;
    /*padding-right:5%;
    padding-left: 5%;*/





}

.dropdown:hover .dropdown-content{
    display: inline-block; 


}
.dropdown:hover #headeropacity{
    opacity: .5;
    font-color: white; 

}

.dropdown-content{
	display: none;
    position: absolute;
    top:80%;
    background-color: transparent;
    opacity: 1;
    width: 80vw;
    height:750%;
    z-index: 1;
    overflow-x:visible; 
    /*box-shadow: 0rem 1rem 3.5rem .0625rem #1C1D1E;*/
} 

.dropdown:hover .txt{
	/*-webkit-transform: translateY(-30%);
	transform: translateY(-30%);
    height: 120%;*/
    opacity: 1;
    /*text-shadow: .05rem .125rem .75rem #1C1D1E, 
    			.03rem .5rem .75rem #1C1D1E, .07rem .5rem .75rem #1C1D1E;*/
    -webkit-transition: .2s;
    font-size: 120%;
    color:#70C6F9;
    overflow: visible;

}

#indpadding{
	padding-left: 1%;

}


#a{
	background-color: transparent;
	
}
#g{
	position: relative;
	left: -100%;
	height:2000%;
	padding-bottom: .5%;
	/*background-color: red;*/
}

#i{
	position: relative;
	left: -200%;
	height:2000%;
	padding-bottom: .5%;
	/*background-color: orange;*/
}



/*.bc{
	position: relative;
	height: 5vh;
	width:20%;
	display:inline-block;
	left:0%;
	float: left;
	
	float: left;
	display: inline-block;
	background-color: blue;
	opacity: .8;

}*/




/* -------- ABOUT ---------*/ 

.bio{
	background-color: transparent;
	margin-top:2%;
	height:100%;
	width: 40%;
	font-weight: normal;
	font-size: 120%;
	color: #70C6F9;
}

























/*------   TAB CCONTENTS   ------*/




/*---- ABOUT ----*/








/*---- Graphic ----*/


.port{
	position: relative;
	width:49.75%;
	height: 100%;

	background-color: #1B1D1E;
	display: inline-block;
	float: left;
	cursor: pointer;
	opacity: 1;
	text-align: center;
	overflow: hidden;


}

/*.port.pl{
	margin-left: 0.5%;
}*/


.gcontainer{
	position: relative;

	display:inline-block;
	float: left;
    margin-top: 0.5%;
	/*margin-left: 0.5%;
	margin-right: 0.5%;*/
	width: 100%;
	height: 20vw;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
	z-index: -1;

}

#l{
	margin-left: 0.5%;
	float: right;
}


#kc{
	opacity: 1;
	background-color: #718F5B;
	/*#718F5B*/
}
.simple{
	display: block;
	position: absolute;
	/*transform:translateX(10%)
	transform:translateY(-100%);*/
    top: 0%;
    margin-top:0%;
	background-color: #70C6F9;
	overflow: visible;
	-webkit-transition: .75s;
	opacity: 0;
	width: 98%;
	height: 96%;
	z-index:1;
	border-style: solid;
	border-width: .25rem;
	border-color: #70C6F9;

	/*#70C6F9*/
}

.kch{

	background-color: transparent;

	opacity: 1;
	-webkit-transition: .75s;
}

img {
	display:inline-block;
	position: relative;
	margin-top: auto;
	margin-left: auto;
	margin-right:auto;
	-webkit-transition: .5s;
	/*image-rendering: crisp-edges
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);*/
	height: 60%;
	padding-top: 12.5%;
	opacity: 1;


    z-index: 1;
}


/*
#simple2{
	background-color: transparent;
	opacity: 1;
	overflow: hidden;
	height: 35.1vh;
 
}*/


.port:hover .simple{
	opacity: 1;
	-webkit-transition: .75s;

}

.port:hover .kch{
	-webkit-transition: .5s;
	opacity: 1;

}



.port:hover img{
	-webkit-transition: .75s;
	padding-top: 7.5%;
	height:80%;
	/*-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);*/

}

#bottom{
	padding-bottom: 0%;
}
/*.tend{

	margin-top: .5%;
	width:100%;
	height: 8vh;
	background-color: #252B30;
	display: block;
	cursor: pointer;

}*/




/*#imcent a img{
	display: block;
	float: left;
    margin: auto;
    overflow:visible;
}*/






  