/* These rules apply screen sizes bigger than a phone*/

body { 
	margin:0;
	height: 100%;
	font-family: Avenir Next, sans-serif;
	color: white;
	background-color:#252B30;
	overflow-x: visible; 
}

.bg {


	position: fixed;
    /* The image used */
    opacity: .6;

    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

header{
	width: 100%;
	/*height: 10em;*/
	background: transparent;
	padding-left: 0;

}

h1 {
	font-weight: normal;
	font-size: 400%;
	padding-left: 10%;
	/*text-shadow: .5rem .75rem .7rem #232323;*/
}

h2 {
	float:left;
	display: inline-block;
	position: relative;
	font-weight: normal;
	color:black;
	font-size: 20%;
}

h3 {
	/*float:left;*/
	position:absolute;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, -120%);
	font-weight: normal;
	color:black;
	font-size: 150%;
	opacity: 1 ;
	z-index: 2;
	text-shadow: 0rem 0rem 5rem white;


}


/*.portsr:hover .abutton{
	transition: 1s;
	transform: scale(1.01);

}*/

/*.portsr:hover .simple{
	transition: 1s;
	transform: scale(1.025);

}*/
/*.background{
	background: green;
	width: 100%;
	height: 100%;
}*/

.bi{
	height:100%;
	width:100%;
	z-index: -1;
	background-color: transparent;
}

.navbar{
	margin:auto;
	width: 100%;
	height: 5vh;
	background: transparent;
	/*padding-left: 10vw;
	padding-right: 10vw;*/
	overflow-right: hidden; 
}

#nb2{

	margin:auto;
	width: 80%;
	height: 100%;
	background: transparent;
	padding-left: 0;
	padding-right: 0;

}

.dropdown{
	position: relative;
	display: inline-block;
	float:left;
	height: 100%;
	width:20%;

	/*
	float: left;
	display: inline-block;*/
	background-color: transparent;
	opacity: 1;

}


.txt{
	display: block;
	position: absolute;
	float: left;
	height: 2.25vh;
	width: 100%;

	background-color: transparent;
	font-size: 110%;
    text-align: center;    
    font-weight: normal;
    color: white;
    opacity: .7;
    overflow: hidden;

}

.dropdown:hover .dropdown-content{
    display: inline-block; 

}

.dropdown-content{
	display: none;
    position: absolute;
    top:5vh;
    background-color: white;
    width:500%;
    height:400%;
    z-index: 1;
} 

.dropdown:hover .txt{
	transform: translateY(-10%);
    height: 5vh;
    opacity: 1;
    /*text-shadow: .125rem .25rem .05rem #232323;*/
    transition: .2s;

}


#g{
	position: relative;
	left: -16vw;
	height:150vh;
	/*background-color: red;*/
}

#i{
	position: relative;
	left: -32vw;
	height:150vh;
	/*background-color: orange;*/
}


/*.bc{
	position: relative;
	height: 5vh;
	width:20%;
	display:inline-block;
	left:0%;
	float: left;
	
	float: left;
	display: inline-block;
	background-color: blue;
	opacity: .8;

}*/






/*------   TAB CCONTENTS   ------*/




/*---- ABOUT ----*/








/*---- Graphic ----*/


.port{

	width:100%;
	height: 100%;
	background-color: #252B30;
	display: inline-block;
	float: left;
	cursor: pointer;
	opacity: .8;



}

.portsr{

	width:49.5%;
	height: 100%;
	background-color: #252B30;
	display: inline-block;
	float: left;
	cursor: pointer;
	margin-right: .5%;
	text-align: center;
	opacity: .8;
	overflow: hidden;
}
.portsl{

	width:49.5%;
	height: 100%;
	background-color: #252B30;
	display: inline-block;
	float: left;
	cursor: pointer;
	margin-left: .5%;
	text-align: center;
	opacity: .8;
}


.gcontainer{

	margin:auto;
	margin-top: 1%;
	width:98%;
	height: 35vh;
	background-color: transparent;
	display: block;
	cursor: pointer;

}

.gcontainerv{

	margin:auto;
	margin-top: 1%;
	width:98%;
	height: 70vh;
	background-color: white;
	display: block;
	cursor: pointer;

}

.tend{

	margin-top: 1%;
	width:100%;
	height: 8vh;
	background-color: #252B30;
	display: block;
	cursor: pointer;

}


.ptxt{
	width: 50%;
	height: 20%;
	position: absolute;
	top: 0%;
    left: 0%;
    translate: (0%,2rem); 
    color:black;
}

.porttextbuff{
	width: 100%;
	height: 45%;
	background-color: yellow;
}

/*#imcent a img{
	display: block;
	float: left;
    margin: auto;
    overflow:visible;
}*/

#kc{
	opacity: 1;
	background-color: #718F5B;
}
.simple{
	display: block;
	position: absolute;
	/*transform:translateX(10%)
	transform:translateY(10%);*/
	left: 0%;
    top: 0%;
    margin:1%;
	background-color: white;

	opacity: 0;
	width: 48.5%;
	height: 1vh;
	z-index:1;
}

img {
	margin-top:  0%;
	height:100%;
	left: 0%;
    top: 0%;
    z-index: -1;
}



#simple2{
	background-color: transparent;
	opacity: 0; 
}


a:hover .simple{
	opacity: .2;
	transition: .75s;
	display: block;
	width: 48.5%;
	height: 35vh;
}
a:hover #simple2{
	opacity: 1;
}

/*a:hover img{
	transition: 1s;
	transform: scale(1.1);
}*/

.abutton{
	width:100%;
	height: 100%;
	
}

.portsr:hover img{
	transition: .75s;
	transform: scale(1.1);

}







  